*{
box-sizing:border-box;
}
body{
    background-color:rgb(15, 127, 192);
    font-family:'Lato', sans-serif ;
}
.container{
    padding:16px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
    text-align:center;
}
h2{
    font-size:20px;
}

input[type=text], input[type=password] {
    margin:8px 20px;
    background-color:white;
    border:none;
    border-radius:2px;
    padding:8px 18px;
    outline:none;
}

button {
    margin:8px 20px;
    background-color:darkslategray;
    border:none;
    color:white;
    border-radius:2px;
    padding:8px;
    outline:none;
    cursor:pointer;
}

footer{
font-size:12px;
}